<section class="nested-tabs">
  <div class="first-level-tabs">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#Roles" role="tab">Roles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#CTCBreakupConfiguration" role="tab">CTC Breakup Configuration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#BenchmarkConfiguration" role="tab">Benchmark Configuration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#GlobalConfiguration" role="tab">Global Configuration</a>
      </li>
    </ul>
  </div>
  <!-- Tab panes -->
  <div class="tab-content second-level-tabs">
    <div class="tab-pane active" id="Roles" role="tabpanel">

      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#Members" role="tab">Members</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#RoleMaster" role="tab">Role Master</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#RoleMapping" role="tab">Role Mapping</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#RolePermission" role="tab">Role Permission</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="Members" role="tabpanel">Members</div>
        <div class="tab-pane" id="RoleMaster" role="tabpanel">Role Master</div>
        <div class="tab-pane" id="RoleMapping" role="tabpanel">Role Mapping</div>
        <div class="tab-pane" id="RolePermission" role="tabpanel">Role Permission</div>
      </div>
    </div>
    <div class="tab-pane" id="CTCBreakupConfiguration" role="tabpanel">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#View" role="tab">View</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#Create" role="tab">Create</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="View" role="tabpanel">View</div>
        <div class="tab-pane" id="Create" role="tabpanel">Create</div>

      </div>
    </div>

    <div class="tab-pane" id="BenchmarkConfiguration" role="tabpanel">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#hcc" role="tab">HCC</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#grade" role="tab">Grade</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#Promotion" role="tab">Promotion</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="hcc" role="tabpanel">hcc</div>
        <div class="tab-pane" id="grade" role="tabpanel">grade</div>
        <div class="tab-pane" id="Promotion" role="tabpanel">Promotion</div>

      </div>
    </div>

    <div class="tab-pane" id="GlobalConfiguration" role="tabpanel">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#test" role="tab">test</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#test1" role="tab">test1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#test2" role="tab">test2</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="test" role="tabpanel">test</div>
        <div class="tab-pane" id="test1" role="tabpanel">test1</div>
        <div class="tab-pane" id="test2" role="tabpanel">test2</div>

      </div>
    </div>


  </div>
</section>
