<!--<div class="sub-heading">plan: <label>2018 appraisal plan 1</label></div>-->
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#listplantype" role="tab">List Plan</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#createplantype" role="tab">Create</a>
  </li>
</ul>


<div class="tab-content">
  <div class="tab-pane active in" id="listplantype" role="tabpanel">
    <listplantype></listplantype>
  </div>
  <div class="tab-pane" id="createplantype" role="tabpanel">
    <createplantype></createplantype>
  </div>
</div>
