<!--<div class="sub-heading">Plan: <label>2018 Appraisal Plan 1</label></div>-->
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" aria-controls="listplan" data-toggle="tab" href="#listplan" role="tab">List Plan</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" aria-controls="createplan" data-toggle="tab" href="#createplan" role="tab">Create</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" aria-controls="Configuration" data-toggle="tab" href="#Configuration" role="tab">Configuration</a>
  </li>
</ul>


<div class="tab-content">
  <div class="tab-pane active in" id="listplan" role="tabpanel">
    <listplan></listplan>
  </div>
  <div class="tab-pane" id="createplan" role="tabpanel">
    <createplan></createplan>
  </div>
  <div class="tab-pane" id="Configuration" role="tabpanel">
    <eligibleemployees></eligibleemployees>
  </div>
</div>
